:root {
  --font-family: 'Inter', sans-serif;
  --background-color-dark: #214E67;
  --background-color-light: #d3ecf7;
}

body,html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: var(--font-family);
  background: linear-gradient( var(--background-color-light),var(--background-color-dark));
}

 