 .grid-data{
    width: 70%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
}

.search-bar {
    width: 300px; /* Ancho deseado */
    border-radius: 25px; /* Radio de borde para redondear */
    margin: 20px auto; /* Centrar en la pantalla, ajusta según sea necesario */
  }
  
  .example-form-field {
    width: 200px;
  }
  